<!doctype html>
<html class="home" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Ttree Base Package for Building Website with TYPO3 Neos</title>
	<script src="../../../Public/Scripts/Build/All.js"></script>
	<link rel="stylesheet" href="../../../Public/Styles/Site.css"/>
</head>
<body>
<header class="navigation">
	<div class="navigation-wrapper">
		<a href="javascript:void(0)" class="logo">
			<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
		</a>
		<a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
		<div class="nav">
			<ul id="navigation-menu">
				<li class="nav-link"><a href="javascript:void(0)">Products</a></li>
				<li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
				<li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
				<li class="nav-link more"><a href="javascript:void(0)">More</a>
					<ul class="submenu">
						<li><a href="javascript:void(0)">Submenu Item</a></li>
						<li><a href="javascript:void(0)">Another Item</a></li>
						<li class="more"><a href="javascript:void(0)">Item with submenu</a>
							<ul class="submenu">
								<li><a href="javascript:void(0)">Sub-submenu Item</a></li>
								<li><a href="javascript:void(0)">Another Item</a></li>
							</ul>
						</li>
						<li class="more"><a href="javascript:void(0)">Another submenu</a>
							<ul class="submenu">
								<li><a href="javascript:void(0)">Sub-submenu</a></li>
								<li><a href="javascript:void(0)">An Item</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>

<div class="scroll-on-page">
	<aside id="scroll-on-page-top">
		<a class="scroll-on-page-link" href="#scroll-link-1">First Scroll Link</a>
		<a class="scroll-on-page-link" href="#scroll-link-2">Second Link</a>
		<a class="scroll-on-page-link" href="#scroll-link-3">Last Link</a>
	</aside>

	<article>
		<section>
			<h4 id="scroll-link-1">First Target</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
		</section>
		<section>
			<h4 id="scroll-link-2">Second Target</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
		</section>
		<section>
			<h4 id="scroll-link-3">Last Target</h4>
			<p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
			<a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
		</section>
	</article>
</div>

<footer class="footer">
	<div class="footer-logo">
		<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
	</div>
	<div class="footer-links">
		<ul>
			<li><h3>Content</h3></li>
			<li><a href="javascript:void(0)">About</a></li>
			<li><a href="javascript:void(0)">Contact</a></li>
			<li><a href="javascript:void(0)">Products</a></li>
		</ul>
		<ul>
			<li><h3>Follow Us</h3></li>
			<li><a href="javascript:void(0)">Facebook</a></li>
			<li><a href="javascript:void(0)">Twitter</a></li>
			<li><a href="javascript:void(0)">YouTube</a></li>
		</ul>
		<ul>
			<li><h3>Legal</h3></li>
			<li><a href="javascript:void(0)">Terms and Conditions</a></li>
			<li><a href="javascript:void(0)">Privacy Policy</a></li>
		</ul>
	</div>

	<hr>

	<p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>

</body>
</html>
